<nav id="footer" class="navbar navbar-inverse">
  <div class="container">
    <footer>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="#">Copyrights &copy;</a></li>
        </ul>
      </div>
    </footer>
  </div>
</nav>
